node_modules
apps/*/node_modules
dist
apps/*/dist
apps/*/build-meta
coverage
.nyc_output
apps/frontend/test-results
apps/frontend/test-results-*
apps/frontend/playwright-report
.git
.github
.vscode
.idea
*.log
.env
apps/*/.env
apps/*/.env.*

**/*.tsbuildinfo
